## Generate Products for Price Analysis

In [1]:
import pandas as pd

In [2]:
products = pd.read_excel('products.xlsx')

In [3]:
# for each items, ets assume we have 3 different products
products['product1'] = ''
products['product2'] = ''
products['product3'] = ''

products = pd.melt(products, id_vars=['website','item'],
                   value_vars=['product1', 'product2','product3'])\
            .rename(columns={'value':'seller','variable':'product'})

In [4]:
#add sellers
import random
sellers = ['seller1','seller2','seller3']

for i, row in products.iterrows():
    row['seller'] = random.choices(sellers, weights=(50, 30, 20), k=1)[0]

In [5]:
# copy the table 30 times (days)
products['date'] = ''
dates = pd.date_range(start='06/1/2021', end='07/1/2021') #month/day/year
products_table = pd.DataFrame()
for i in dates:
    df = products.copy()
    df['date'] = i
    products_table = products_table.append(df)

In [6]:
# create and append two identical tabes for mornings and afternoons
products_table['morning'] = ''
products_table['afternoon'] = ''

products_table = pd.melt(products_table, id_vars=['website','item','product','date'],
                         value_vars=['morning', 'afternoon'])\
            .rename(columns={'variable':'time','value':'price'})

In [7]:
products_table.website.unique()

array(['Coolblue', 'Mediamarkt', 'AH', 'Kruidvat', 'Bonprix', 'Lidl'],
      dtype=object)

In [8]:
# adding a random price based on the store
import numpy as np
vector = []
for w in products_table['website']:
    if (w == 'Coolblue') or (w == 'Mediamarkt'):
        vector.append(round(abs(np.random.normal(35, 15, 1)[0]),2)) #Coolblue Mediamarkt
    elif (w == 'AH') or (w == 'Lidl'):
        vector.append(round(abs(np.random.normal(10, 5, 1)[0]),2)) #AH Lidl
    elif (w == 'Bonprix') or (w == 'Kruidvat'):
        vector.append(round(abs(np.random.uniform(0,20,1)[0]),2)) #Bonprix Kruidvat
    else:
        vector.append(0)

products_table['price'] = vector

In [9]:
products_table.head(10)

    website             item   product       date     time  price
0  Coolblue           laptop  product1 2021-06-01  morning  29.44
1  Coolblue  steelstofzuiger  product1 2021-06-01  morning  16.93
2  Coolblue       vaatwasser  product1 2021-06-01  morning  29.43
3  Coolblue          printer  product1 2021-06-01  morning  35.84
4  Coolblue         loopband  product1 2021-06-01  morning  37.06
5  Coolblue         tondeuse  product1 2021-06-01  morning  35.86
6  Coolblue         koelkast  product1 2021-06-01  morning  45.41
7  Coolblue       grasmaaier  product1 2021-06-01  morning  33.09
8  Coolblue        magnetron  product1 2021-06-01  morning  56.23
9  Coolblue       wasmachine  product1 2021-06-01  morning  37.87

In [11]:
products_table.to_excel('dutch_product_prices.xlsx', index=False)